{% extends 'quiz/base.html' %}

{% block content %}
    <h1>{{ quiz.title }}</h1>

    <hr>

    <p>Вопрос: {{ question.text }}</p>

    <hr>

    <form action="{% url 'quiz:question' quiz.id question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="checkbox" id="{{ choice.id }}" name="choice[]" value="{{ choice.id }}">
            <label for="{{ choice.id }}">{{ choice.text }}</label><br>
        {% endfor %}
        <hr>
        <button type="submit">Ответить</button>
    </form>
{% endblock %}
